<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Character Creator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCCharacterCreator.styles.css" asp-append-version="true" />
</head>
<body class="bg-page">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 border-bottom">
            <div class="container container-fluid navigation">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Character Creator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Friend" asp-action="Index">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Location" asp-action="Index">Locations</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container mb-3 bg-main">
        <main role="main" class="pb-3">

            @if (TempData["MessagePrimary"] != null)
            {
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @TempData["MessagePrimary"]
                </div>
            }

            @if (TempData["MessageSecondary"] != null)
            {
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @TempData["MessageSecondary"]
                </div>
            }

            @if (TempData["MessageWarning"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @TempData["MessageWarning"]
                </div>
            }

            @if (TempData["MessageDanger"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @TempData["MessageDanger"]
                </div>
            }

            @if (TempData["MessageSuccess"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @TempData["MessageSuccess"]
                </div>
            }

            @if (TempData["MessageInfo"] != null)
            {
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @TempData["MessageInfo"]
                </div>
            }

            @RenderBody()
        </main>
    </div>




    <footer class="bg-body-tertiary text-center fixed-bottom">
        <div class="text-center p-3 border-top">
            <a class="footer-nav" asp-area="" asp-controller="Home" asp-action="Privacy">Character Creator © 2025</a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
