@model DataDomain.CharacterLikeDislike
@using DataDomain;

@{
    ViewData["Title"] = "Edit " + Model.LikeDislikeType;
    UserCharacter character = ViewBag.Character;
    CharacterLikeDislike oldLikeDislike = ViewBag.OldLikeDislike;
}

<h1>Edit Character: @character.CharacterName</h1>

<h4>Edit @Model.LikeDislikeType: @Model.CharacterInterest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLikeDislike" asp-route-old="@oldLikeDislike.CharacterInterest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="CharacterID" class="control-label"></label>
                <input asp-for="CharacterID" class="form-control" />
                <span asp-validation-for="CharacterID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LikeDislikeType" class="control-label"></label>
                <input asp-for="LikeDislikeType" class="form-control" />
                <span asp-validation-for="LikeDislikeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterInterest" class="control-label"></label>
                <input asp-for="CharacterInterest" class="form-control" />
                <span asp-validation-for="CharacterInterest" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="CharacterLikeDislikeDescription" class="control-label"></label>
                <input asp-for="CharacterLikeDislikeDescription" class="form-control" />
                <span asp-validation-for="CharacterLikeDislikeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Edit", new { id = character.CharacterID, p = 3 }, new { @class = "btn btn-secondary" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
